<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Donec malesuada, mi ut condimentum efficitur, sem leo interdum ligula, sed porttitor sem magna id dolor.
  Aenean pulvinar venenatis placerat. Curabitur convallis quam at nulla iaculis, vitae lacinia est interdum.
  Aliquam auctor sem id ornare molestie. Quisque sed erat id erat efficitur rhoncus sit amet a massa.
  Sed pharetra nunc sollicitudin, ullamcorper enim et, efficitur ante. Nullam a sapien at lectus vestibulum dictum.
  Fusce vel congue felis. Integer id enim arcu. Maecenas in iaculis tellus. Pellentesque vel quam laoreet, efficitur est vitae,
  tempus est. Duis sodales finibus massa sit amet tincidunt. Nam sit amet ullamcorper eros.
  Suspendisse pellentesque semper arcu et volutpat. Suspendisse ullamcorper convallis aliquet.
  Sed sed mi mattis, fermentum dolor at, posuere leo.</p>
<%- include("footer") -%>
